version: '3.8'

services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    image: backend-image
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend-image
    container_name: frontend
    env_file:
      - ./frontend/.env
    ports:
      - 9000:80
    depends_on:
      - backend